<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">discount cards</label>
<select name="" id="" class="form-control">
    <option value="buy 2 get 1 free">buy 2 get 1 free</option>
    <option value="buy any 3 @500">buy any 3 @500</option>
    <option value="combo @399">combo @399</option>
    <option value="buy @ flat 20%off">buy @ flat 20%off</option>
</select>


                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">address</label>
                    <textarea name="address" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">payment methods</label>
                    <select name="" id="" class="form-control">
                        <option value="cash on delivery">cash on delivery</option>
                        <option value="credit card/debit card">credit card/debit card</option>
                        <option value="gpay/phonepay">gpay/phonepay</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<button class="btn btn-primary">pay</button>
                </div>
            </div>
        </div>
    </div>
</div>
